.custom-double-height {
    height: calc(2 * 100px); 
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.align-nav-right {
    justify-content: flex-end !important;
}

.container-nav {
    display: flex;
    justify-content: flex-end;
}

.form-control.rounded.mw-100 {
    border-color: rgb(0, 174, 255) !important;
}

.card {
    position: relative; 
    overflow: hidden;
    border-radius: 20px; 
    
}

.card-hover:hover {
  background-color: #f8f9fa; 
  box-shadow: 0 5px 15px rgba(0, 129, 80, 0.3); 
  cursor: pointer; 
  transform: scale(1.010); 
  transition: all 0.3s ease-in-out; 
}

.custom-image {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: 0; 
}

.card-title, .card-text {
    position: relative; 
    z-index: 1; 
    color: rgb(0, 0, 0); 
    font-weight: 900;
    font-family: Arial, sans-serif;
}

.small-euro {
  font-size: 0.7em;

}

.usuario {
font-weight: 800;
font-family: Arial, sans-serif;
}

.servicio {
font-weight: 800;
font-family: Arial, sans-serif;
}

.detalle {
font-weight: 700;
font-family: Arial, sans-serif;
}

.price {
    font-weight: 900;
    font-family: Arial, sans-serif;
}