<div class="container mb-4 mt-5">
    <div class="card shadow mb-4" style="width: 100%">
        <div class="card-body custom-double-height d-flex justify-content-center align-items-center">
            <div>

                <h3 class="card-title">Listado de presupuestos</h3>
                <img src="assets/bg_bggenerator_com.png" alt="listado" class="custom-image" />

            </div>
        </div>
    </div>
    <div class="container-nav mb-4 mt-4">
        <nav class="d-flex flex-grow mt-4">
            <button type="button" class="btn btn-outline-secondary me-3" (click)="ordenarPorNombre()">Nombre</button>
            <button type="button" class="btn btn-outline-secondary me-3" (click)="ordenarPorFecha()">Fecha</button>
            <button type="button" class="btn btn-outline-secondary me-3" (click)="ordenarPorMonto()">Monto</button>
            <button type="button" class="btn btn-outline-warning me-3" (click)="volverHome()">Volver</button>
            <div class="input-group">
                <form [formGroup]="buscadorForm">
                    <input type="text" class="form-control rounded mw-100" placeholder="Search" aria-label="Search"
                        (change)="buscarNombre($event)" formControlName="nombre" />
                </form>
            </div>
        </nav>
    </div>

    @for (presupuesto of userPresupuestos; track presupuesto) {

    <div class="card-body d-flex justify-content-between align-items-center mt-4">
        <div class="card shadow mb-4 card-hover" style="width: 100%;"
            (click)="irDetalle(presupuesto.usuario.nombre, presupuesto.monto, presupuesto.extras.cantidadIdiomas,
    presupuesto.extras.cantidadPaginas, [presupuesto.servicios[WEB].Web, presupuesto.servicios[ADS].Ads, presupuesto.servicios[SEO].SEO])">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div class="row">
                    <div class="col-12">
                        <h5 class="card-title">{{presupuesto.usuario.nombre}}</h5>
                    </div>
                    <div class="col-12">
                        <p class="card-text">{{presupuesto.usuario.email}}</p>
                    </div>
                    <div class="col-12">
                        <p class="card-text">{{presupuesto.usuario.telefono}}</p>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <h4 class="services-header">Servicios:</h4>
                    </div>
                    <div class="col-12 centered-services">
                        @if(presupuesto.servicios[SEO].SEO){
                        <div>
                            <span class="d-block">SEO</span>
                        </div>
                        }
                        @if(presupuesto.servicios[ADS].Ads) {
                        <div>
                            <span class="d-block">Ads</span>
                        </div>
                        }
                        @if(presupuesto.servicios[WEB].Web) {
                        <div>
                            <span class="d-block">Web (extra Idiomas: {{presupuesto.extras.cantidadIdiomas}},
                                extra páginas:
                                {{presupuesto.extras.cantidadPaginas}})</span>
                        </div>
                        }
                    </div>
                </div>


                <div class="text-center">
                    <h3 class="price">Total presupuestado: {{presupuesto.monto}}<span class="small-euro">€</span></h3>
                </div>
            </div>
        </div>
    </div>

    }
</div>