<div class="container mt-5">
    <div class="card shadow mb-4 header" style="width: 100%">
        <div class="card-body custom-double-height d-flex justify-content-center align-items-center">
            <div>
                <h3 class="card-title">Consigue la mejor calidad</h3>
                <img src="assets/bg_bggenerator_com1.png" alt="listado" class="custom-image" />
            </div>
        </div>
    </div>


    <form [formGroup]="presupuestoForm">
        <div class="card shadow mb-4" style="width: 100%;">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div class="text-left">
                    <h5 class="card-title">Seo</h5>
                    <p class="card-text">Realización de una campaña SEO completa.</p>
                </div>
                <div class="cards-price-container">
                    <div class="text-center">
                        <h3 class="price mt-5">300€</h3>
                    </div>
                </div>
                <div>
                    <input type="checkbox" class="p-2 me-2" (change)="onEventChange()" formControlName="SEO">
                    <label class="ml-2">Elegir</label>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4" style="width: 100%;">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Ads</h5>
                    <p class="card-text">Lanzamiento de una campaña de publicidad.</p>
                </div>
                <div class="cards-price-container">
                    <div class="text-center">
                        <h3 class="price me-1 mt-5">400€</h3>
                    </div>
                </div>
                <div>
                    <input type="checkbox" class="p-2 me-2" (change)="onEventChange()" formControlName="Ads">
                    <label class="ml-2">Elegir</label>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4" style="width: 100%;">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">Web</h5>
                    <p class="card-text">Programación de una web responsiva completa.</p>
                </div>
                <div class="cards-price-container">
                    <div class="text-center">
                        <h3 class="price me-4 mt-5">500€</h3>
                    </div>
                </div>
                <div>
                    <input type="checkbox" class="p-2 me-2" (change)="onEventChange()" formControlName="Web">
                    <label class="ml-2">Elegir</label>
                </div>
            </div>
            @if (presupuestoForm.value.Web) {
            <app-panel (newItemEvent)="cargarPresupuesto($event)"></app-panel>
            }
        </div>
    </form>
    <div class="mt-3 mb-2 text-right contenido-presupuesto">
        <h2>Total presupuestado: {{ monto }}€</h2>

    </div>

    <div class="card shadow mt-2 mb-4">
        <div class="card-body d-flex justify-content-center align-items-center">
            <form [formGroup]="usuarioForm" class="d-flex justify-content-center align-items-center w-100">
                <input type="text" formControlName="nombre" placeholder="Nombre" class="form-control mr-2 me-3"
                    style="flex: 1;"
                    [class.is-invalid]="usuarioForm.controls.nombre.touched && usuarioForm.controls.nombre.invalid"
                    [class.is-valid]="usuarioForm.controls.nombre.valid">
                <input type="number" formControlName="telefono" placeholder="Teléfono" class="form-control mr-2 me-3"
                    style="flex: 1;"
                    [class.is-invalid]="usuarioForm.controls.telefono.touched && usuarioForm.controls.telefono.invalid"
                    [class.is-valid]="usuarioForm.controls.telefono.valid">
                <input type="email" formControlName="email" placeholder="Email" class="form-control mr-2 me-3"
                    style="flex: 1;"
                    [class.is-invalid]="usuarioForm.controls.email.touched && usuarioForm.controls.email.invalid"
                    [class.is-valid]="usuarioForm.controls.email.valid">
                <button type="button" class="btn btn-primary" (click)="guardarPresupuesto()" style="height: 100%;">Pedir
                    Presupuesto</button>
            </form>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-primary" (click)="goToLista()">Ver lista</button>
        </div>
    </div>
</div>