.custom-double-height {

    height: calc(2 * 100px); 
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.card {

    border-radius: 20px; 

}

.card-title {
    font-weight: 900;
    font-family: Arial, sans-serif;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px; 
}

.cards-price-container {
  justify-content: center !important;
}

.price {
    font-weight: 900;
    font-family: Arial, sans-serif;
}